img{width:100%;}

#err_msg {
	display: none;
}

.display_err_msg {
	display: block;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.input-group {margin-bottom:30px;}

h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans";background-image: url("http://images.all-free-download.com/images/graphiclarge/gorgeous_background_of_the_stage_02_hd_pictures_169915.jpg") ;}
